* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #74ebd5, #acb6e5);
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content {
    display: flex;
    height: 30vh;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
}

.btnShort {
    width: 40%;
    margin: auto;
}